In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import parallel_coordinates
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [5]:
crimerateDataPath = "../result_gowalla/result_top_20.txt"

df = pd.read_csv(crimerateDataPath, sep = "\")

In [6]:
df

     0\t1220\t0.4\t0.181818181818\t0.48044529823479354\t0.110555555556
0                           1\t2750\t0.0\t0.0\t0.0\t0.0
1                            2\t545\t0.0\t0.0\t0.0\t0.0
2                            3\t625\t0.0\t0.0\t0.0\t0.0
3     4\t4996\t0.1\t0.0714285714286\t0.0719953483414...
4     5\t1404\t0.1\t0.166666666667\t0.08704683662541...
...                                                 ...
5622                     5623\t1047\t0.0\t0.0\t0.0\t0.0
5623                     5624\t2339\t0.0\t0.0\t0.0\t0.0
5624                     5625\t3792\t0.0\t0.0\t0.0\t0.0
5625                     5626\t2769\t0.0\t0.0\t0.0\t0.0
5626                     5627\t5119\t0.0\t0.0\t0.0\t0.0

[5627 rows x 1 columns]